In [1]:
import yfinance as yf
dat = yf.Ticker("MSFT")

In [2]:
dat = yf.Ticker("MSFT")
dat.info
dat.calendar
dat.analyst_price_targets
dat.quarterly_income_stmt
dat.history(period='1mo')
dat.option_chain(dat.options[0]).calls

,contractSymbol,lastTradeDate,strike,lastPrice,bid,ask,change,percentChange,volume,openInterest,impliedVolatility,inTheMoney,contractSize,currency
0,MSFT250328C00230000,2025-03-07 19:46:27+00:00,230.0,163.20,159.80,162.90,0.0,0.0,2.0,3,5.173832,True,REGULAR,USD
1,MSFT250328C00240000,2025-03-04 14:31:53+00:00,240.0,142.00,149.80,152.75,0.0,0.0,NaN,1,4.726567,True,REGULAR,USD
2,MSFT250328C00250000,2025-03-24 14:33:07+00:00,250.0,141.80,139.85,142.80,0.0,0.0,1.0,4,4.427739,True,REGULAR,USD
3,MSFT250328C00260000,2025-03-21 17:47:39+00:00,260.0,126.30,129.85,132.75,0.0,0.0,10.0,46,4.062505,True,REGULAR,USD
4,MSFT250328C00280000,2025-03-14 14:31:42+00:00,280.0,102.70,109.85,112.80,0.0,0.0,NaN,1,3.436525,True,REGULAR,USD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69,MSFT250328C00515000,2025-03-17 17:33:22+00:00,515.0,0.01,0.00,0.01,0.0,0.0,5.0,6,1.625002,False,REGULAR,USD
70,MSFT250328C00520000,2025-03-25 19:38:11+00:00,520.0,0.01,0.00,0.01,0.0,0.0,20.0,31,1.656252,False,REGULAR,USD
71,MSFT250328C00525000,2025-02-25 20:08:28+00:00,525.0,0.05,0.00,0.01,0.0,0.0,5.0,1028,1.687502,False,REGULAR,USD
72,MSFT250328C00550000,2025-03-13 19:58:54+00:00,550.0,0.01,0.00,0.01,0.0,0.0,1.0,1,1.937500,False,REGULAR,USD
73,MSFT250328C00560000,2025-03-27 13:30:01+00:00,560.0,0.01,0.00,0.01,0.0,0.0,1.0,3,2.062505,False,REGULAR,USD

In [3]:
tickers = yf.Tickers('MSFT AAPL GOOG')
tickers.tickers['MSFT'].info
yf.download(['MSFT', 'AAPL', 'GOOG'], period='1mo')

[*********************100%***********************]  3 of 3 completed

YF.download() has changed argument auto_adjust default to True

Price            Close                                High              \
Ticker            AAPL        GOOG        MSFT        AAPL        GOOG
Date
2025-02-28  241.839996  172.024017  396.989990  242.089996  172.303697
2025-03-03  238.029999  168.468079  388.489990  244.029999  174.800860
2025-03-04  235.929993  172.413574  388.609985  240.070007  174.965659
2025-03-05  235.740005  174.790878  401.019989  236.550003  175.550008
2025-03-06  235.330002  174.011765  396.890015  237.860001  176.528886
2025-03-07  239.070007  175.550003  393.309998  241.369995  176.698688
2025-03-10  227.479996  167.809998  380.160004  236.160004  170.449997
2025-03-11  220.839996  165.979996  380.450012  225.839996  168.654999
2025-03-12  216.979996  169.000000  383.269989  221.750000  169.529999
2025-03-13  209.679993  164.729996  378.769989  216.839996  168.119995
2025-03-14  213.490005  167.619995  388.559998  213.949997  168.250000
2025-03-17  214.000000  166.570007  388.700012  215.220001  168.460007
2025-03-18  212.690002  162.669998  383.519989  215.149994  166.440002
2025-03-19  215.240005  166.279999  387.820007  218.759995  168.132996
2025-03-20  214.100006  165.050003  386.839996  217.490005  167.029999
2025-03-21  218.270004  166.250000  391.260010  218.839996  166.470001
2025-03-24  220.729996  169.929993  393.079987  221.479996  170.500000
2025-03-25  223.750000  172.789993  395.160004  224.100006  172.910004
2025-03-26  221.529999  167.139999  389.970001  225.020004  171.940002
2025-03-27  223.850006  164.080002  390.579987  224.990005  167.440002

Price                          Low                                Open  \
Ticker            MSFT        AAPL        GOOG        MSFT        AAPL
Date
2025-02-28  397.630005  230.199997  168.198374  386.570007  236.949997
2025-03-03  398.820007  236.110001  167.449235  386.160004  241.789993
2025-03-04  392.579987  234.679993  167.349336  381.000000  237.710007
2025-03-05  401.670013  229.229996  170.735486  388.809998  235.419998
2025-03-06  402.149994  233.160004  172.311690  392.679993  234.440002
2025-03-07  394.799988  234.759995  172.053986  385.540009  235.110001
2025-03-10  386.399994  224.220001  165.565002  377.220001  235.539993
2025-03-11  386.000000  217.449997  163.240005  376.910004  223.809998
2025-03-12  385.220001  214.910004  165.479996  378.950012  220.139999
2025-03-13  385.320007  208.419998  164.070007  377.450012  215.949997
2025-03-14  390.230011  209.580002  164.509995  379.510010  211.250000
2025-03-17  392.709991  209.970001  165.809998  385.570007  213.309998
2025-03-18  387.369995  211.490005  158.800003  381.100006  214.160004
2025-03-19  389.679993  213.750000  163.050003  384.000000  214.220001
2025-03-20  391.790009  212.220001  163.139999  383.279999  213.990005
2025-03-21  391.739990  211.279999  163.029999  382.799988  211.559998
2025-03-24  395.399994  218.580002  167.440002  389.809998  221.000000
2025-03-25  396.359985  220.080002  170.550003  392.640015  220.770004
2025-03-26  395.309998  220.470001  166.860992  388.570007  223.509995
2025-03-27  392.239990  220.560104  163.850006  387.399994  221.330002

Price                                 Volume
Ticker            GOOG        MSFT      AAPL      GOOG      MSFT
Date
2025-02-28  170.106204  392.660004  56833400  30049800  32845700
2025-03-03  173.532301  398.820007  47184000  24122000  23007700
2025-03-04  167.748890  383.399994  53798100  30711400  29342900
2025-03-05  172.123918  389.339996  47227600  18848000  23433100
2025-03-06  172.353650  394.279999  45170400  19082400  23304600
2025-03-07  173.044861  392.320007  46273600  16395300  22034100
2025-03-10  170.160004  385.839996  72071200  28990700  32840100
2025-03-11  166.679993  379.000000  76137400  23705900  30380200
2025-03-12  168.470001  382.950012  62547500  19880100  24253600
2025-03-13  167.979996  383.160004  61368300  15206200  20473000
2025-03-14  165.315002  379.779999  60107600  18611100  19952800
2025-03-17  167.324997  386.700012  48073400  17839100  22474300
2025-03-18  165.960007  387.070007  42432400  24616800  19486900
2025-03-19  163.914993  385.529999  54385400  24955700  19185500
2025-03-20  163.824997  385.739990  48862900  19981500  18470500
2025-03-21  163.380005  383.220001  94127800  29882100  39675900
2025-03-24  169.264999  395.399994  44299500  18742800  21004500
2025-03-25  171.179993  393.920013  34493600  13841600  15775000
2025-03-26  171.300003  395.000000  34532700  22554200  16132900
2025-03-27  166.723999  390.130005  36700954  21529133  13434223

In [4]:
spy = yf.Ticker('SPY').funds_data
spy.description
spy.top_holdings

                                  Name  Holding Percent
Symbol
AAPL                         Apple Inc         0.072364
NVDA                       NVIDIA Corp         0.060659
MSFT                    Microsoft Corp         0.058428
AMZN                    Amazon.com Inc         0.039326
META        Meta Platforms Inc Class A         0.028836
GOOGL             Alphabet Inc Class A         0.019696
BRK-B   Berkshire Hathaway Inc Class B         0.018645
AVGO                      Broadcom Inc         0.018439
GOOG              Alphabet Inc Class C         0.016226
TSLA                         Tesla Inc         0.016198

In [5]:
sp500 = yf.Tickers("^GSPC", session=None)
for stock in sp500.tickers:
    print(stock)

^GSPC

In [6]:
yf.download('^GSPC', start='2024-01-01')

[*********************100%***********************]  1 of 1 completed

Price             Close         High          Low         Open      Volume
Ticker            ^GSPC        ^GSPC        ^GSPC        ^GSPC       ^GSPC
Date
2024-01-02  4742.830078  4754.330078  4722.669922  4745.200195  3743050000
2024-01-03  4704.810059  4729.290039  4699.709961  4725.069824  3950760000
2024-01-04  4688.680176  4726.779785  4687.529785  4697.419922  3715480000
2024-01-05  4697.240234  4721.490234  4682.109863  4690.569824  3844370000
2024-01-08  4763.540039  4764.540039  4699.819824  4703.700195  3742320000
...                 ...          ...          ...          ...         ...
2025-03-21  5667.560059  5670.839844  5603.100098  5630.729980  9367460000
2025-03-24  5767.569824  5775.140137  5718.080078  5718.080078  4517990000
2025-03-25  5776.649902  5786.950195  5760.419922  5775.959961  4467340000
2025-03-26  5712.200195  5783.620117  5694.410156  5771.660156  4183140000
2025-03-27  5693.310059  5732.279785  5670.939941  5695.640137  2824605000

[310 rows x 5 columns]